div {
}

div.year {
	margin-left: 8px;
}

div.month {
	margin-left: 8px;
}

div.day {
	margin-left: 8px;
}

div.post {
	margin-left: 8px;
	cursor: pointer;
}

#page {
	text-align: center;
}

#blog_menu {
	background: pink;
	padding: 8 8 8 8px;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	text-align: left;
}

#blog_view {
	background: lightgreen;
	padding: 8 8 8 8px;
	display: inline-block;
	vertical-align: top;
	width: 600;
	margin: auto;
	text-align: left;
}

.img_float_right {
	float:right;
}

.img_align_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}